body {
    text-align: center;
    background-color: #011F3F;
}

#title,
#restart {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 4%;
    color: #FEF2BF;
}

#restart{
    margin-top: 1%;
    font-size: 1.9rem;
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    width: 90vh;
    height: 70vh;
}

.row {
    height: 30vh;
    width: 78vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 30vh;
    height: 30vh;
    /* margin: 0vh; */
    border: 15px solid black;
    border-radius: 21%;
    box-shadow: 11px 11px 5px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.pressed {
    transform: scale(0.98);
    box-shadow: 4px 4px 13px 1px rgba(195, 194, 194, 0.774);
}

.btn:hover {
    opacity: 80%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}