body {
    text-align: center;
    background-color: #011F3F;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#title{
    height: 100px;
}

#title,
#restart {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 3%;
    margin-bottom: 2.5%;
    color: #FEF2BF;
}

#restart {
    margin-top: 1%;
    font-size: 1.9rem;
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    width: 90vh;
    height: 70vh;
    margin-top: 2%;
}

.row {
    height: 30vh;
    width: 78vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 30vh;
    height: 30vh;
    /* margin: 0vh; */
    border: 15px solid black;
    border-radius: 21%;
    box-shadow: 11px 11px 5px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.pressed {
    transform: scale(0.98);
    box-shadow: 4px 4px 13px 1px rgba(195, 194, 194, 0.774);
}

.btn:hover {
    opacity: 80%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.start {
    height: 70px;
    width: 70px;
    position: relative;
    top: -40.5vh;
    /* left: -0vw; */
    border-radius: 50%;
    margin: auto;
}

.start_btn {
    height: 30px;
    width: 30px;
}

@media (min-width: 500px) and (max-width: 700px) {
    .btn {
        height: 25vh;
        width: 25vh;
    }

    .row {
        width: 64vh;
    }

    .container {
        width: 64vh;
        height: 64vh;
    }

    .start {
        height: 48px;
        width: 48px;
        top: -35.5vh;
        /* left: -0vw; */
    }

    .start_btn {
        height: 23px;
        width: 23px;
    }
}

@media (max-width: 500px) and (orientation: portrait){
    .btn {
        height: 15vh;
        width: 15vh;
    }

    .row {
        width: 45vh;
    }

    .container {
        margin-top: 25%;
        width: 45vh;
        height: 45vh;
    }

    .start {
        height: 45px;
        width: 45px;
        top: -26vh;
        /* left: -0vw; */
    }

    .start_btn {
        height: 20px;
        width: 20px;
    }

    #title{
        font-size: 2rem;
    }

    #restart{
        font-size: 1rem;
    }
}

